@media screen and (max-width: 1200px) {
  
}
@media screen and (max-width: 900px) {
  .card{
    min-height: 500px;
  }.forGrid {
    display: block;
  }
}
@media screen and (max-width: 400px) { 
  footer{
      margin: auto;
  }
}
 @media screen and (max-width: 499px) {  
    a{
      display: block;
      width: auto;
    }  
    header{
        background-color: #fff;
        color: rgb(117, 117, 117) !important;
        margin: 20px auto;
        margin-bottom: 0;
        padding: 20px auto;
        height: 64px;
    }
    header > button{
      margin: 10px auto;
    }
    main{
      margin-top: -160px;
    }
    nav {
      z-index: 10;
      background-color: #d88220;
      width: 280px;
      position: absolute;
      align-items: center;
      margin-top: 30px;
      display: block;
      width: 100%;
  
      -webkit-transform: translate(0, -120%);
      transform: translate(0, -120%);
  
      transition: transform 0.33s ease;
    }
    ul {
      list-style-type:none;
    }
    li {
      list-style-type:none;
      margin-top: 20px;
    }
    .forGrid2 {
        display: block;
    }
    .font7 {
      font-size: 24pt;
    }
    .font6 {
      font-size: 18pt;
    }
    .font5 {
      font-size: 12pt;
    }
    .nav__item {
      display: list-item;
      border-bottom: 1px solid #E0E0E0;
      width: 100%;
      text-align: center;
    }
    .open {
      -webkit-transform: translate(0, 8%);
      transform: translate(0, 8%);
    }
  }
  
  @media screen and (min-width: 100px) {
    *{
      min-height: 46px;
      min-width: 46px;
    }
    li {
      list-style-type:none;
    }
    ul {
      list-style-type:none;
    }
  }
  
  @media screen and (min-width: 500px) {
    header{
        display: none;
    }
    .header__menu {
      display: none;
    }
  }
  
  @media screen and (max-width: 800px) {
    .form-login-wrapper {
      width: 60%;
      margin: 0 auto;
    }
  }
  
  
  @media screen and (min-width: 800px) {
    .nav__list {
      max-width: 800px;
      margin: 0 auto;
    }
  }
  
  @media screen and (min-width: 900px) {
    .forGrid2, main {
      margin-left: 5%;
    }
  }
  @media screen and (min-width: 1200px) {
   
  }
  
  